.heading{
    color: rgb(104, 166, 205);
    text-align: center;
}
.services{
    margin: 20px 0;
}
.cards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-top: 20px;
}
.card{
    border: 1px solid black;
    border-radius: 5px;
    width: 280px;
    height: 300px;
    text-align: center;
    margin: 20px;
    padding: 3px;
}
.card:hover{
    box-shadow: 1px 1px 1px 1px grey;
}
.cardimage{
   width: 100%;
   height: 150px;
}